@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.main-container {
    width: 90vw;
    overflow: auto;
    display: flex;
}

.nav-container {
    display: flex;
    flex-direction: column;
    width: 5vw;
    position: fixed;
    justify-content: center;
    align-self: center;
}

.icon-cont {
    height: 35px;
    width: 35px;
    border-radius: 18px;
    box-shadow: 0px 5px 0px 0px #f5f2eb;
    display: flex;
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 12px;
}

.icon {
    color: #0060fa;
    background-color: white;
    font-size: 20px;
}

.icon-but:hover {
    background-color: #0060fa;
    width: 120px;
    font-size: 18px;

}

.icon-but {
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 18px;
    width: 35px;
    background-color: white;
    margin-bottom: 20px;
    border: none;
    font-size: 0px;
}

.icon-text {
    font-family: "Roboto";
    color: white;
    font-weight: 800;
    margin-left: 7px;

}

.container {
    min-height: 50vh;
    background-color: white;
    display: flex;
    align-items: center;
    width: 80vw;
    justify-content: space-between;
    margin-left: 130px;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro-text-cont {
    display: flex;
    flex-direction: column;
}

.intro-text-hello {
    font-family: Caveat;
    font-size: 41px;
    margin-bottom: 10px;

}

.pranay {
    font-family: "Roboto";
    margin-top: 0px;
    font-size: 50px;
}

.hr1 {
    width: 70px;
    background-color: #3B82F6;
    height: 3px;
    border-width: 0px;
    margin-top: 19px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.row2 {
    display: flex;
    margin-top: 10px;
}

.Data {
    color: #3B82F6;
    margin-top: 0px;
    font-size: 38px;
    font-weight: 700;
    font-family: Roboto;
    margin-left: 18px;

}

.icon-but2 {
    background-color: white;
    border-width: 1px;
    border-color: #3B82F6;
    border-style: solid;
    border-radius: 4px;
    width: 90px;
    height: 30px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3B82F6;
    
}
.za{
    text-decoration: none;
    color:inherit;
}

.icon-but2:hover {
    background-color: #3B82F6;
    color: white;
}

.resume {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 15px;
    margin-right: 7px;
    text-decoration: none;
}

.lin {
    background-color: #0077b5;
    color: white;
    font-size: 20px;
}

.lin:hover {
    color: #3B82F6;
    background-color: rgba(0, 119, 181, 0.1);
}

.git {
    background-color: #6CC644;
    color: white;
    font-size: 20px;
}

.git:hover {
    background-color: rgba(0, 119, 181, 0.1);
    color: #6CC644;
}

.mr {
    margin-right: 20px;
}

.profile {
    height: 380px;
    width: 100%;
    max-width: 380px;
    border-radius: 200px;
    border-color: #3B82F6;
    border-width: 2px;
    border-style: solid;
}


.pranay {
    height: 100%;
    width: 100%;
    border-radius: 200px;
    object-fit: cover;
    object-position: center top;
    overflow: hidden;
    object-position: center 29%;

}
@media screen and (max-width: 767px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .intro {
        display: flex;
        justify-content: flex-start;
    }

    .profile {
        justify-content: flex-end;
        /*height: 300px;
        width: 300px;
        border-radius: 150px;*/
    }
}


.pro-cont-cent {
    display: flex;
    justify-content: center;
    width: 90vw;
}

.pro {
    background-image: url('https://files.codebasics.io/v3/images-webp/portfolio/portfoli-about-bg.webp');
    width: 90vw;
    display: flex;
    flex-direction: column;
    background-size: cover;
    max-height: 90vh;
    flex-shrink: 1;
    padding: 10px;
    align-items: center;
    min-height: 50vh;
    margin-top: 20px;
    margin-bottom: 60px;
}

.pro-cont {
    background-color: white;
    border-radius: 70px;
    margin-top: 15px;
    width: 80vw;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 5px 4px 5px 4px #7f8280;
    margin-bottom: 30px;
}

@media screen and (max-width: 991px) {
    .pro-cont {
        flex-direction: column;
        align-items: flex-start;
    }

    .column {
        margin-left: 30px;
    }
}

.column {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.BI-TEXT {
    font-family: "Roboto";
    margin-top: 0px;
    flex-shrink: 1;
    font-size: 30px;
}

.cut {
    font-size: 35px;
}

.BI {
    height: 120px;
    width: 120px;
    margin-right: 10px;
    border-radius: 60px;
}

.rowd {
    display: flex;
    align-items: center;
}

.about-text {
    font-family: "Roboto";
    font-size: 50px;
    margin-right: 0px;

}

.me {
    font-family: Caveat;
    font-size: 50px;
    color: #3B82F6;
    margin-left: 40px;
    margin-top: 70px;

}

.about {
    background-color: #a9bbdb;
    height: 90px;
    width: 90px;
    margin-right: 20px;
    margin-top: 40px;
    border-radius: 45px;
    box-sizing: border-box;
}

.rowdy {
    display: flex;
    justify-content: center;
}

.text {
    font-size: 23px;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.skills-mini {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.st{
    border-radius: 15px;
}

.skill-but {
    background-color: #3B82F61A;
    height: 60px;
    min-width: 60px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 25px;
    flex-grow: 1;
    border: none;
    color: #3B82F6;
    margin: 10px;
}

.skill-but:hover {
    background-color: white;
    border-color: black;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
}

.proje {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: #d6d0d0;
    width: 95vw;
    justify-content: center;
}

.white {
    background-color: white;
}

.c-container {
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    width: 90%;
}

.cardu-container {
    background-color: White;
    border-radius: 16px;
    padding: 6px;
    border: none;
    width: 30%;
    box-shadow: none;
    margin: 22px;

}

@media screen and (max-width:767px) {
    .cardu-container {
        width: 70%;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .cardu-container {
        width: 40%;
    }
}

.pimg {
    height: 180px;
    width: 100%;
    margin-bottom: 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.insig {
    font-family: "Roboto";
    font-size: 18px;
    margin-top: 0px;
}

.insig2 {
    font-family: "Roboto";
    font-size: 15px;
    margin-top: 0px;
    color: #3e4265;
}

.wit {
    width: 140px;
    margin-top: 20px;
}

.rot {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.img {
    height: 60px;
    width: 60px;
    border-radius: 11px;
}

.awards {
    background-image: url('https://files.codebasics.io/v3/images-webp/portfolio/awards-bg.webp');
    width: 90vw;
    display: flex;
    flex-direction: column;
    background-size: cover;
    min-height: 70vh;
    flex-shrink: 1;
    padding: 10px;
    align-items: center;
    min-height: 50vh;
    margin-top: 20px;
    margin-bottom: 60px;
}

.cert {
    display: flex;
    justify-content: center;
    width: 90vw;
    flex-wrap: wrap;
    margin-left: 80px;

}

.cert-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    margin-right: 20px;
}

.cert-img {
    height: 35vw;
    width: 100%;
    margin: 10px;
}

@media screen and (max-width:767px) {
    .cert {
        flex-direction: column;
    }
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conta {
    border-radius: 20px;
    background-image: url('https://files.codebasics.io/v3/images/portfolio/footer-bg.png');
    background-size: cover;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    width: 80%;
}

.kilo {
    text-decoration: none;
}
.cold{
    margin-left: 100px;
    margin-right: 100px;
}